@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Rubik+Burned&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #403d39;
}
.gameContainer {
    width: 85%;
    height: 90%;
    color: #ffffff;
    font-family: 'Rubik Burned', system-ui;
    font-weight: 800;
    font-size: xx-large;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: #6b7f81 5px 10px 10px, #89948d -10px -15x 20px;

}
.scoreBoard{
width: 100%;
height: 10%;
background-color: #0f0f0f;
display: flex;
justify-content: space-around;
align-items: center;
}
.gameBoard{
    padding: 5px 20px;
    width: 100%;
    height: 90%;
    flex-wrap: wrap;
    background-image: image-set('bubble_img.jpg');
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}

.gameBoard strong{
    font-size: xxx-large;
    background: rgba(130, 130, 130, 0.15);
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.726);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(7.1px);
    color:rgb(255, 255, 255);
    padding: 6%;
    border-radius: 15px;
    text-shadow: #0f0f0f 2px 2px 2px;
}

.gameBoard span{
    color: #f6ff00;
}

.bubble{
    margin: 10px;
    padding: 5px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: x-large;
    background-color: #0fa3b1;
    color:black;
    font-family: 'poppins',serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 300ms;
    background: rgba(130, 130, 130, 0.15);
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.726);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(7.1px);
}
.bubble:hover{
    font-size: xx-large;
    background: rgba(255, 255, 255, 0.333);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
